@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --desktopDrawerWidth: 22vw;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
  overflow: hidden;
}

.rooms .st0 {
  fill: red;
}
/* desktop drawer */
@media (min-width: 768px) {
  .desktop-drawer {
    width: var(--desktopDrawerWidth);
    flex-shrink: 0;
  }

  .desktop-drawer .MuiDrawer-paper {
    width: var(--desktopDrawerWidth);
    box-sizing: border-box;
  }
  .map-container {
    width: calc(100vw - var(--desktopDrawerWidth));
  }

  .fullscreen-image {
    width: calc(100vw - var(--desktopDrawerWidth));
    height: 100vh;
  }
  .BoxFloorButtons {
    right: var(--desktopDrawerWidth);
    bottom: 0;
  }
  .search-box {
    right: var(--desktopDrawerWidth);
    top: 0;
    position: absolute;
    margin: 1vw;
  }
  .navbar {
    position: absolute;
    width: calc(var(--desktopDrawerWidth) - 0.05vw);
    bottom: 0;
    right: 0;
    z-index: 1300;
  }
}

/* mobile drawer */
@media (max-width: 768px) {
  .desktop-drawer {
    display: none;
  }

  .map-container {
    width: 100vw;
  }

  .fullscreen-image {
    width: 100vw;
    height: 95vh;
  }

  .BoxFloorButtons {
    right: 0vw;
    bottom: 60px;
    /* top: calc(100vh - 15.5em); */
  }
  .search-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
  }
  .navbar {
    position: absolute;
    width: 100vw;
    bottom: 0;
    /* top: calc(100vh - 7em); */
    right: 0;
    left: 0;
    z-index: 1300;
  }
}
.drawer-container{
  margin-bottom: 80px;
}
.drawer-container .button-container {
  display: inline;
  left: auto;
  right: auto;
  padding: 0.5vw;
}

.app {
  display: flex;
  flex-flow: row-reverse;
}

.map-container {
  flex: 0 0 auto;
  background-color: #e7e7e7;
}

.floor-button {
  margin: 0.5vw;
}

.BoxFloorButtons {
  padding: 0.5vw;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
/* .css-aw8ruk-MuiTypography-root{
  margin: 48px;
} */

.puller {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  cursor: grab;
}

.puller-icon {
  width: 30px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.navbar {
  pointer-events: auto;
}
